{% extends 'base.html' %}
{% load static %}

{% block title %}
    ¿Dónde me atiendo?
{% endblock title %}
    

{% block carrousel %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/img-1.jpg' %}" class="d-block w-100" alt="...">
                <p>¿Necesitás saber en qué hospital atenderte?</p>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img-2.jpg' %}" class="d-block w-100" alt="...">
                <p>Accedé a toda la información importante.</p>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img-3.jpg' %}" class="d-block w-100" alt="...">
                <p>Hospitales de guardia, teléfonos y cómo llegar.</p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock carrousel %}


{% block section %}
    <section>
        <div id="hospitales">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi velit fuga repellat corrupti placeat? Fuga voluptatum molestiae velit cum a molestias, necessitatibus in dolorem dignissimos provident dicta perspiciatis laudantium mollitia.
            Harum iure reprehenderit accusamus quas minus consequatur sapiente facere explicabo, vero itaque, illo at eius. Voluptatem molestiae sit, minima sunt cum, incidunt reiciendis tenetur ex et nam eos delectus hic!
            Excepturi numquam voluptatibus dolore, facilis quos a velit repellat explicabo perferendis eum adipisci. Aperiam veniam voluptatum sint repudiandae error quos unde explicabo nesciunt et dolore ipsa, ratione delectus neque natus.
            Quae maiores, maxime dolore architecto hic voluptates molestiae repudiandae quisquam aut vitae cum quod nesciunt atque placeat cupiditate asperiores saepe voluptas perspiciatis accusantium eum, nobis temporibus, sit iure. Praesentium, temporibus.
            Pariatur sit consequuntur facilis iure delectus fugiat nam soluta nostrum enim tempore! Accusamus eum nobis veritatis incidunt labore quos, optio, enim obcaecati impedit ut sunt, doloremque delectus omnis aut! Blanditiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi velit fuga repellat corrupti placeat? Fuga voluptatum molestiae velit cum a molestias, necessitatibus in dolorem dignissimos provident dicta perspiciatis laudantium mollitia.
            Harum iure reprehenderit accusamus quas minus consequatur sapiente facere explicabo, vero itaque, illo at eius. Voluptatem molestiae sit, minima sunt cum, incidunt reiciendis tenetur ex et nam eos delectus hic!
            Excepturi numquam voluptatibus dolore, facilis quos a velit repellat explicabo perferendis eum adipisci. Aperiam veniam voluptatum sint repudiandae error quos unde explicabo nesciunt et dolore ipsa, ratione delectus neque natus.
            Quae maiores, maxime dolore architecto hic voluptates molestiae repudiandae quisquam aut vitae cum quod nesciunt atque placeat cupiditate asperiores saepe voluptas perspiciatis accusantium eum, nobis temporibus, sit iure. Praesentium, temporibus.
            Pariatur sit consequuntur facilis iure delectus fugiat nam soluta nostrum enim tempore! Accusamus eum nobis veritatis incidunt labore quos, optio, enim obcaecati impedit ut sunt, doloremque delectus omnis aut! Blanditiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi velit fuga repellat corrupti placeat? Fuga voluptatum molestiae velit cum a molestias, necessitatibus in dolorem dignissimos provident dicta perspiciatis laudantium mollitia.
            Harum iure reprehenderit accusamus quas minus consequatur sapiente facere explicabo, vero itaque, illo at eius. Voluptatem molestiae sit, minima sunt cum, incidunt reiciendis tenetur ex et nam eos delectus hic!
            Excepturi numquam voluptatibus dolore, facilis quos a velit repellat explicabo perferendis eum adipisci. Aperiam veniam voluptatum sint repudiandae error quos unde explicabo nesciunt et dolore ipsa, ratione delectus neque natus.
            Quae maiores, maxime dolore architecto hic voluptates molestiae repudiandae quisquam aut vitae cum quod nesciunt atque placeat cupiditate asperiores saepe voluptas perspiciatis accusantium eum, nobis temporibus, sit iure. Praesentium, temporibus.
            Pariatur sit consequuntur facilis iure delectus fugiat nam soluta nostrum enim tempore! Accusamus eum nobis veritatis incidunt labore quos, optio, enim obcaecati impedit ut sunt, doloremque delectus omnis aut! Blanditiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi velit fuga repellat corrupti placeat? Fuga voluptatum molestiae velit cum a molestias, necessitatibus in dolorem dignissimos provident dicta perspiciatis laudantium mollitia.
            Harum iure reprehenderit accusamus quas minus consequatur sapiente facere explicabo, vero itaque, illo at eius. Voluptatem molestiae sit, minima sunt cum, incidunt reiciendis tenetur ex et nam eos delectus hic!
            Excepturi numquam voluptatibus dolore, facilis quos a velit repellat explicabo perferendis eum adipisci. Aperiam veniam voluptatum sint repudiandae error quos unde explicabo nesciunt et dolore ipsa, ratione delectus neque natus.
            Quae maiores, maxime dolore architecto hic voluptates molestiae repudiandae quisquam aut vitae cum quod nesciunt atque placeat cupiditate asperiores saepe voluptas perspiciatis accusantium eum, nobis temporibus, sit iure. Praesentium, temporibus.
            Pariatur sit consequuntur facilis iure delectus fugiat nam soluta nostrum enim tempore! Accusamus eum nobis veritatis incidunt labore quos, optio, enim obcaecati impedit ut sunt, doloremque delectus omnis aut! Blanditiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi velit fuga repellat corrupti placeat? Fuga voluptatum molestiae velit cum a molestias, necessitatibus in dolorem dignissimos provident dicta perspiciatis laudantium mollitia.
            Harum iure reprehenderit accusamus quas minus consequatur sapiente facere explicabo, vero itaque, illo at eius. Voluptatem molestiae sit, minima sunt cum, incidunt reiciendis tenetur ex et nam eos delectus hic!
            Excepturi numquam voluptatibus dolore, facilis quos a velit repellat explicabo perferendis eum adipisci. Aperiam veniam voluptatum sint repudiandae error quos unde explicabo nesciunt et dolore ipsa, ratione delectus neque natus.
            Quae maiores, maxime dolore architecto hic voluptates molestiae repudiandae quisquam aut vitae cum quod nesciunt atque placeat cupiditate asperiores saepe voluptas perspiciatis accusantium eum, nobis temporibus, sit iure. Praesentium, temporibus.
            Pariatur sit consequuntur facilis iure delectus fugiat nam soluta nostrum enim tempore! Accusamus eum nobis veritatis incidunt labore quos, optio, enim obcaecati impedit ut sunt, doloremque delectus omnis aut! Blanditiis.</p>
        </div>
    </section>
{% endblock section %}
    
    