{% extends 'base.html' %}
{% load static %}


{% block title %}
    Teléfonos útiles
{% endblock title %}


{% block section %}
    <section id="section-tel">
        <div id="title-tel">
            <h2>Teléfonos útiles de CABA</h2>
        </div>
        <hr>
        <article>
            <h3>100 Bomberos</h3>
            <p>Atención permanente las 24 hs.   </p>
            <p>Atención de emergencias, accidentes.</p>
            <h3><a href="tel:100" class="btn btn-lg btn-primary">Llamá al 100</a>
            </h3>
        </article>
        <hr>
        <article>
            <h3>911 Emergencias</h3>
            <p>Atención permanente las 24 hs.</p>
            <p>Línea directa de la Policía de la Ciudad.</p>
            <p> Brinda una pronta atención ante emergencias y hechos que necesiten la presencia inmediata de los distintos fuerzas públicas que conforman el Sistema Integral de Seguridad Pública de la Ciudad.</p>
            <h3><a href="tel:911" class="btn btn-lg btn-primary">Llamá al 911</a>
            </h3>
        </article>
        <hr>
        <article>
            <h3>103 Emergencia defensa civil</h3>
            <p>Atención permanente las 24 hs.</p>
            <p>Actúa ante inundaciones, accidentes en la vía pública, derrame de sustancias tóxicas, etc.</p>
            <h3><a href="tel:103" class="btn btn-lg btn-primary">Llamá al 103</a>
            </h3>
        </article>
        <hr>
        <article>
            <h3>107 SAME</h3>
            <p>Atención permanente las 24 hs.</p>
            <p>Servicio gratuito de ambulancias y atención médica de urgencia que cubre toda la Ciudad.</p>
            <h3><a href="tel:107" class="btn btn-lg btn-primary">Llamá al 107</a>
            </h3>
        </article>
        <hr>
        <article>
            <h3>102 Atencion Infantil</h3>
            <p>Atención permanente las 24 hs</p>
            <p>Línea gratuita para realizar consultas y deunincas vinculadas a problemáticas de la infancia</p>
            <h3><a href="tel:102" class="btn btn-lg btn-primary">Llamá al 102</a>
            </h3>
        </article>
        <hr>
        <article>
            <h3>144 Violencia de genero</h3>
            <p>Atención permanente las 24 hs</p>
            <p>Los profesionales dan orientación e informan sobre los recursos disponibles. Se deriva a la consultante a los servicios sociales, legales y terapéuticos que el Gobierno brinda.</p>
            <h3><a href="tel:144" class="btn btn-lg btn-primary">Llamá al 144</a>
            </h3>
        </article>
    </section>
{% endblock section %}
    
